@page
@model LoginModel
@inject Globalsetting.GlobalEnvironmentSetting GlobalEnvironmentSetting
@{
    ViewData["Title"] = "Log in";
    string baseUrl = @GlobalEnvironmentSetting.AppSettingValue("AppSettings:baseurl");
    Layout = null;

}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@GlobalEnvironmentSetting.AppSettingValue("AppSettings:adminTitle") | Login </title>

    <link rel="apple-touch-icon" sizes="57x57" href='@(baseUrl + "images/favicon/favicon.ico")' asp-append-version="true">
    <link rel="apple-touch-icon" sizes="192x19" href='@(baseUrl + "images/favicon/android-chrome-192x192.png")' asp-append-version="true">
    <link rel="apple-touch-icon" sizes="512x512" href='@(baseUrl + "images/favicon/android-chrome-512x512.png")' asp-append-version="true">
    <link rel="apple-touch-icon" sizes="72x72" href='@(baseUrl + "images/favicon/apple-touch-icon.png")' asp-append-version="true">
    <link rel="apple-touch-icon" sizes="76x76" href='@(baseUrl + "images/favicon/favicon-16x16.png")' asp-append-version="true">
    <link rel="apple-touch-icon" sizes="32x32" href='@(baseUrl + "images/favicon/favicon-32x32.png")' asp-append-version="true">

    <link rel="manifest" href='@(baseUrl + "images/favicon/site.webmanifest.json")' asp-append-version="true">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content='@(baseUrl + "images/favicon/ms-icon-144x144.png")' asp-append-version="true">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link href='@(baseUrl + "Content/bootstrap.min.css")' rel="stylesheet" asp-append-version="true" />
    <link href='@(baseUrl + "Content/bootstrap-theme.min.css")' rel="stylesheet" asp-append-version="true" />
    <!-- Font Awesome -->
    <link href='@(baseUrl + "vendors/font-awesome/css/font-awesome.min.css")' rel="stylesheet" asp-append-version="true" />
    <!-- NProgress -->
    <link href='@(baseUrl + "vendors/nprogress/nprogress.css")' rel="stylesheet" asp-append-version="true" />
    <!-- Animate.css -->
    <link href='@(baseUrl + "vendors/animate.css/animate.min.css")' rel="stylesheet" asp-append-version="true" />
    <!-- Custom Theme Style -->
    <link href='@(baseUrl + "build/css/custom.css")' rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" asp-append-version="true" />

    <script src='@(baseUrl + "Scripts/jquery.min.js")' asp-append-version="true"></script>
    <script src='@(baseUrl + "Scripts/bootstrap.min.js")' asp-append-version="true"></script>
    <script src='@(baseUrl + "Scripts/jquery.unobtrusive-ajax.min.js")' asp-append-version="true"></script>
    <script src='@(baseUrl + "Scripts/bootbox.min.js")' asp-append-version="true"></script>
    <style>
        .validation-summary-errors {
            color: #b94a48;
            font-size: 14px;
            line-height: 1.42857;
        }

        #content form .submit, .login_content form input[type="submit"] {
            float: right;
        }
    </style>

</head>
<body class="login">

    <div>

        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <partial name="_Notification" />
                    <form id="account" method="post">
                        @Html.AntiForgeryToken()
                        <h1>Admin Login</h1>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                            </div>
                        </div>
                        <div class="control-group">
                            <input asp-for="Input.Email" type="text" class="form-control" autocomplete="username" placeholder="User Name" required />
                        </div>
                        <div class="control-group">
                            <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" placeholder="Password" required />
                        </div>

                        <div class="submit">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                            <input type="submit" value="Log in" class="btn btn-default submit btnlogin" id="login-submit" />
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    <div class="separator">

                        <div class="clearfix"></div>
                        <br />
                        <div>
                            <img src='@string.Concat(baseUrl, "content/images/logo.svg")' asp-append-version="true" style="width: 250px;padding: 15px;" />
                            <p>©@DateTime.Now.Year All Rights Reserved.</p>
                        </div>
                    </div>
                </section>

            </div>

        </div>
    </div>
</body>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
}
